<h1>Quản lý đơn hàng</h1>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Tên nhân viên</th>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Show</th>
                <th>Xóa</th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <tr>
                <td>Mai Đình Dinh</td>
                <td>dinhmd</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Trần Quang Đức</td>
                <td>ductq</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Trần Xuân Trung</td>
                <td>trungtx</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Phạm Nhật Tân</td>
                <td>tannp</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Nguyễn Thang Hải</td>
                <td>haint</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Vũ Thúy Hằng</td>
                <td>hangvt</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Nguyễn Văn Tuân</td>
                <td>tuannv</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>
            <tr>
                <td>Vũ Văn Hội</td>
                <td>hoivv</td>
                <td>
                    <input type="password" value="1234567" class="form-control passform">
                </td>
                <td><span class="ptxt">Show</span></td>
                <td><a>Xóa</a></td>
            </tr>

        </tbody>
    </table>
</div>