<footer>
  <div class="footer_div">
    <div class="row pt-2">
      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
        <h5 class="text-dark">CÔNG TY TNHH CÔNG NGHỆ GEAR SHOP</h5>
        <h6 class="text-secondary">
          <strong><i>Email: gearshop@gmail.com</i></strong>
        </h6>
        <table style="width: 70%;">
          <tr>
            <td>Gọi mua hàng</td>
            <td><strong>1800 6975</strong></td>
          </tr>
          <tr>
            <td>Gọi CSKH & Khiếu nại</td>
            <td><strong>1800 6173</strong></td>
          </tr>
          <tr>
            <td>Gọi bảo hành</td>
            <td><strong>1800 6274</strong></td>
          </tr>
          <tr>
            <td>Kỹ thuật</td>
            <td><strong>1800 6147</strong></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 pt-1">
        <h6 class="pt-4 text-dark"><strong>HỆ THỐNG CỬA HÀNG</strong></h6>
        <h6 class="text-secondary">
          <i class="fas fa-map-marker-alt pr-1 text-dark"> </i> <i>Hà Nội</i>
        </h6>
        <label
          >- Địa chỉ : 37 Ngõ 121 Thái Hà, Phường Trung Liệt, Quận Đống
          Đa.</label
        >
        <label>- Thời gian làm việc: 08:30 – 20:30 | T2 – CN.</label><br />
        <h6 class="text-secondary">
          <i class="fas fa-map-marker-alt pr-1 text-dark"> </i>
          <i>TP.Hồ Chí Minh</i>
        </h6>
        <label
          >- Địa chỉ: 78-80-82 Hoàng Hoa Thám, Phường 12, Quận Tân Bình.</label
        >
        <label>- Thời gian làm việc: 08:30 – 21:30 | T2 – CN.</label>
      </div>
      <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12">
        <img
          src="https://i.imgur.com/PXErNqo.png"
          alt=""
          height="300"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</footer>
