footer {
    width: 100%;
    height: 350px;
    padding-top: 20px;
    background-color: #6C757D;
    h6 {
        font-size: 16px;
        color: skyblue;
    }
    p {
        padding-top: 0px;
        font-size: 11px;
    }
    h5 {
        color: seashell;
    }
}
.footer_div{
    padding: 20px 150px 0px 120px;
}