<footer>
    <div class="footer_div">
    <div class="row">
        <div class="col-lg-4 ">
            <h5>CÔNG TY TNHH CÔNG NGHỆ GEAR SHOP</h5>
            <h6><strong>Email: gearshop@gmail.com</strong></h6>
            <table style="width: 60%;">
              <tr>
                <td>Gọi mua hàng</td>
                <td><strong>1800 6975</strong></td>
              </tr>
              <tr>
                <td>Gọi CSKH & Khiếu nại</td>
                <td><strong>1800 6173</strong></td>
              </tr>
              <tr>
                <td>Gọi bảo hành</td>
                <td><strong>1800 6274</strong></td>
              </tr>
              <tr>
                <td>Kỹ thuật</td>
                <td><strong>1800 6147</strong></td>
              </tr>
            </table>
        </div>
        <div class="col-lg-4 ">
          <h6><strong>HỆ THỐNG CỬA HÀNG</strong></h6>
          <label><strong>SHOWROOM HN:</strong></label>
          <label>- Địa chỉ : 37 Ngõ 121 Thái Hà, Phường Trung Liệt, Quận Đống Đa.</label>
          <label>- Thời gian làm việc: 08:30 – 20:30 | T2 – CN.</label><br>
          <label><strong>SHOWROOM HCM:</strong></label>
          <label>- Địa chỉ: 78-80-82 Hoàng Hoa Thám, Phường 12, Quận Tân Bình.</label>
          <label>- Thời gian làm việc: 08:30 – 21:30 | T2 – CN.</label>
        </div>
        <div class="col-lg-4 ">
          <img src="assets/images/footerbanner.png" alt="" height="300">
        </div>
    </div>
  </div>
  </footer>