.searchinput{
    width: 500px;
}
.btnbar{
    margin-left: 10px;
}
.formsearch{
    margin-left: 50px;
    input {
        border-radius: 20px;
    }
}
.btn{
    border-radius: 15px;
}
.homename{
    width: 95px;
    height: auto;
    background-image: url(/Assignment-Angular/src/images/bg-logoname.png);
}
  
