<h1>Khách hàng</h1>
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>Tên nhân viên</th>
        <th>Tài khoản</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr *ngFor="let item of customer">
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>
