<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a routerLink="/manager">
                <img src="https://i.imgur.com/ekGn84w.png" height="50" />
                <img src="https://i.imgur.com/fkW5J7J.png" height="40" />
            </a>
        </div>
        <ul class="list-unstyled components">
            <p class="text-center mr-3">QUẢN LÝ</p>
            <li>
                <button class="btntoggle" (click)="showToggle()">
                    <i class="fas fa-th-large"></i>
                    Sản phẩm
                </button>
                <ul id="homeSubmenu">
                    <li>
                        <a class="btnAdmin" routerLinkActive="active-link" routerLink="/manager/product/all"><i class="fas fa-th pr-2"></i>Tất cả</a>
                    </li>
                    <li>
                        <a class="btnAdmin" routerLinkActive="active-link" routerLink="/manager/product/DIS"><i class="fas fa-tv pr-2"></i>Màn hình</a>
                    </li>
                    <li>
                        <a class="btnAdmin" routerLinkActive="active-link" routerLink="/manager/product/CHA"><i class="fas fa-chair pr-2"></i>Ghế</a>
                    </li>
                    <li>
                        <a class="btnAdmin" routerLinkActive="active-link" routerLink="/manager/product/KEY"><i class="far fa-keyboard pr-2"></i>Bàn
                            phím</a>
                    </li>
                    <li>
                        <a class="btnAdmin" routerLinkActive="active-link" routerLink="/manager/product/HEA"><i
                                class="fas fa-headphones-alt pr-2"></i>Tai nghe</a>
                    </li>
                    <li>
                        <a class="btnAdmin" routerLinkActive="active-link" routerLink="/manager/product/MOU"><i
                                class="fas fa-mouse-pointer pr-2"></i>Chuột</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/manager/order"><i class="fas fa-shopping-cart pr-2"></i>Đơn hàng</a>
            </li>
            <li>
                <button class="btntoggle navbar-toggler">
                    <i class="fas fa-user-friends"></i>
                    Tài khoản
                </button>
                <ul  id="pageSubmenu">
                    <li>
                        <a routerLink="/manager/customer"><i class="fas fa-users pr-2"></i>Tài khoản khách hàng</a>
                    </li>
                    <li>
                        <a routerLink="/manager/employ"><i class="far fa-user pr-2"></i>Tài khoản nhân viên</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a routerLink="/home" (click)="clearLogin()" class="btn btn-1 ml-5">
            <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>
            Home</a>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="ADContent">
            <section>
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>