<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="">
                <img src="assets/images/logo.png" height="50">
                <img src="assets/images/logoname.png" height="40">
            </a>
        </div>

        <ul class="list-unstyled components">
            <p class="text-center mr-3">QUẢN LÝ</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-th-large pr-3"></i>Sản phẩm</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/manager"><i class="fas fa-tv pr-2"></i>Màn hình</a>
                    </li>
                    <li>
                        <a href="/manager"><i class="fas fa-chair pr-2"></i>Ghế</a>
                    </li>
                    <li>
                        <a href="/manager"><i class="far fa-keyboard pr-2"></i>Bàn phím</a>
                    </li>
                    <li>
                        <a href="/manager"><i class="fas fa-headset pr-2"></i>Tai nghe</a>
                    </li>
                    <li>
                        <a href="/manager"><i class="fas fa-mouse pr-2"></i>Chuột</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/manager"><i class="fas fa-shopping-cart pr-2"></i>Đơn hàng</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="far fa-user pr-2"></i>Tàikhoản</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/manager">Tài khoản khách hàng</a>
                    </li>
                    <li>
                        <a href="/manager">Tài khoản nhân viên</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="home" class="article">Quay lại trang chủ</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <h3>Quản lý sản phẩm</h3>
            </div>
        </nav>
        <div class="ADContent">
            <table></table>
        </div>
    </div>
</div>