<h1>Quản lý đơn hàng</h1>
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>ID</th>
        <th class="text-center">Ảnh</th>
        <th>Sản phẩm</th>
        <th>Tổng tiền</th>
        <th class="text-center">Số lượng</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr *ngFor="let item of orderlist">
        <td class="firstTD">{{item.customerId}}</td>
        <td  class="text-center"><img src="{{item.image}}" alt="" height="50"></td>
        <td>
          {{item.name}}
        </td>
        <td class="text-left">{{(item.price - item.price*(item.sale/100))*item.count |
                    currency:'VND':'symbol-narrow':'3.0':'fr'}}</td>
        <td class="text-center">{{item.count}}</td>
      </tr>
    </tbody>
  </table>
</div>
