<div class="top w-100">
  <h1 class="ml-2">Quản lý sản phẩm</h1>
  <div class="row w-100 ml-1 justify-content-between">
    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#myModaladd"><i
        class="far fa-plus-square pr-2"></i>Thêm sản phẩm</button>
    <div class="col-4 justify-content-end">
      <input class="h-100 col-9" id="textS" #textsearch type="text" (keyup)="searchPro(textsearch.value, typeSearch.value)" placeholder=" Tìm kiếm..">
      <select #typeSearch class="h-100 col-3" id="selectS" (change)="setDefaultSearch()">
        <option value="id">ID</option>
        <option value="name">Tên</option>
        <option value="count">Số lượng</option>
        <option value="price">Giá</option>
      </select>
    </div>

  </div>

</div>
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Chi tiết</th>
        <th>Xóa</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody id="table">
      <tr *ngFor="let item of items">
        <td>{{item.id}}</td>
        <td><a class="nameLink" data-toggle="modal" data-target="#myModaldetail"
            (click)="setProductDetail(item)">{{item.name}}</a></td>
        <td>{{item.price | currency:'VND':'symbol-narrow':'3.0':'fr'}}</td>
        <td>{{item.count}}</td>
        <td hidden>{{item.type}}</td>
        <td><a data-toggle="modal" data-target="#myModaldetail" (click)="setProductDetail(item)">Chi tiết</a></td>
        <td><a data-toggle="modal" data-target="#exampleModal"  (click)="setDeleteId(item)" ><i class="fas fa-trash-alt"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="itemDel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Bạn có chắc sẽ xóa sản phẩm này không?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>ID:</strong> {{itemDel.id}}</p>
        <p><strong>Sản phẩm:</strong> {{itemDel.name}}</p>
        
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete(itemDel)">Có</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>
<!-------end Modal------>
<app-addproduct class="modal fade" id="myModaladd" role="dialog"></app-addproduct>
<app-manager-product-detail class="modal fade" id="myModaldetail" role="dialog" [data]="product">
</app-manager-product-detail>

