<div class="signupForm">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <label class="row justify-content-center">
      <a class="homename navbar-brand" routerLink="/home">
        <img src="https://i.imgur.com/ekGn84w.png" alt="Null image" width="auto" height="40" />
        <img src="https://i.imgur.com/fkW5J7J.png" alt="Null image" width="auto" height="45" />
      </a>
    </label>
    <p class="justify-content-center row">
      <span class="text-white">Crate Account</span>
    </p>
    <!----Modal---->
    <ng-template #contentSign let-modal>
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click',close())">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="d-inline" src="https://i.imgur.com/zJYtouJ.png" alt="" height="50"><h4 class="d-inline pl-3">Đăng ký thành công!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Close click',close())">Đóng</button>
      </div>
    </ng-template>
    <!----Modal---->
    <form #formSign="ngForm" (ngSubmit)="checkAccount(formSign, contentSign)">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input name="name" #name="ngModel" class="form-control" ngModel required placeholder="Full name" type="text">
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Tên không được để trống
        </div>
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input name="username" #username="ngModel" ngModel required class="form-control" placeholder="Username" type="text">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger w-100 mb-0 mt-1">
          <div *ngIf="username.errors.required" class="mb-0">
            Tên đăng nhập không được để trống
          </div>
        </div>
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input name="email" #email="ngModel" class="form-control" placeholder="Email address" ngModel type="email"
          required email>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email không được để trống
        </div>
        <div *ngIf="email.errors.email">
          Email không đúng định dạng
        </div>
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <input name="phone" #phone="ngModel" ngModel class="form-control" placeholder="Phone number" type="text"
          required>
      </div>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
        <div *ngIf="phone.errors.required">
          Số điện thoại không được để trống
        </div>
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input name="password" #password="ngModel" ngModel minlength="8" class="form-control"
          placeholder="Create password" type="password" required>
      </div>
      <div *ngIf="password.invalid && (name.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Mật khẩu không được để trống
        </div>
        <div *ngIf="password.errors.minlength">
          Mật khẩu quá ngắn (ít nhất 8 ký tự)
        </div>
      </div>
      <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input name="repass" #repass="ngModel" ngModel required (keyup)="checkPass(password.value, repass.value)" class="form-control" placeholder="Repeat password"
          type="password">
      </div>
      <div *ngIf="checkp == false" class="alert alert-danger">
        <div >
          Mật khẩu không khớp
        </div>
      </div>
      <!-- form-group// -->
      <div>
        <span class="text-white">Address</span>
      </div>
      <div class="form-group input-group">
        <textarea name="address" #address="ngModel" ngModel required rows="3" class="form-control" placeholder="Address"></textarea>
      </div> 
      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
        <div *ngIf="address.errors.required">
          Địa chỉ không được để trống
        </div>
      </div>
      <!-- form-group end.// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
        <a class="btn btn-warning btn-block" routerLink="/home">Back home</a>
      </div> <!-- form-group// -->
      <p class="text-center text-white">Have an account? <a class="text-warning" routerLink="/login">Log In</a> </p>
    </form>
  </article>
</div>
