<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="{{produc.image}}" alt="Ảnh sản phẩm" />
    </div>
    <div class="col-9 mt-4 formDetail">
      <label class="label-name">{{produc.name}}</label>
      <label class="label-price">Giá:
        <span>{{produc.price | currency:'VND':'symbol-narrow':'3.0':'fr'}}</span></label>
      <label class="label-pricesale">Giảm còn:
        <span>{{produc.price - produc.price*(produc.sale/100) |
            currency:'VND':'symbol-narrow':'3.0':'fr'}}</span></label>
      <div class="btn-group">
        <button class="btnCount bg-primary" (click)="setCount('-')"><i class="fas fa-minus"></i></button>
        <label class="label-count">
          <input type="number" #countvalue id="input-count" (keyup)="checkValue(countvalue.value)" max="{{produc.count}}" min="1" value="1" />
        </label>
        <button class="btnCount bg-primary" (click)="setCount('+')"><i class="fas fa-plus"></i></button>
      </div>
      <div class="pt-4">
        <button class="btn btn-danger">Mua</button>
        <button class="btn btn-primary ml-5">Thêm vào giỏ</button>
      </div>
    </div>
  </div>
  <div class="row">
    <label>Chi tiết: </label>
    <textarea class="desc" cols="5" disabled>{{produc.desc}}</textarea>
  </div>
</div>
<hr />
<div class="container contai-content">
  <p class="pb-5"><strong>Sản phẩm tương tự</strong><i class="fas fa-caret-right pl-2 pr-2"></i><a routerLink="/home/listproduct/{{produc.type}}">Xem thêm {{textType}}</a></p>
  <div class="row">
    <div class="col" id="headphone">
      <div class="row justify-content-around">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card" *ngFor="let item of productType | slice:0:4">
          <div class="card-form position-relative" routerLink="/home/detail/{{item.id}}">
            <div class="image-wrapper">
              <img src="{{item.image}}" alt="Ảnh sản phẩm" class="card-img-top" />
            </div>
            <div class="card-body text-center">
              <input class="card-text" type="text" value="{{item.name}}" disabled />
              <label class="text-price">({{item.price |
                    currency:'VND':'symbol-narrow':'3.0':'fr'}})</label>
              <div class="position-absolute">
                <button class="btn bg-danger text-white">
                  -{{item.sale}}%
                </button>
              </div>
              <!-- <label class="sale">-{{item.sale}}%</label> -->
              <label class="text-sale">{{item.price - item.price*(item.sale/100) |
                    currency:'VND':'symbol-narrow':'3.0':'fr'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>