.contentbody {
    height: auto;
    width: 100%;
    margin: 0 auto;
    background-color: snow;
  }
  
  body {
    background-image: url("https://www.itl.cat/pngfile/big/90-904291_awesome-4k-rog-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
  }
  html {
    scroll-behavior: smooth;
  }
  